*{
    font-family: "Outfit", sans-serif;
}
header{
    background-color: #FF9494;
}
header span{
    color: white;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: #FFD1D1;
}
/* Link visitado*/
.nav-item a:visited{
    color: white;
}
#nav-butoon{
    background-color: #FFD1D1;
}
.icon-habilidades{
    color: #FF9494;
}

.img-proyecto1{
    background-image: url(assests/Clon_Pinterest.png);
    opacity: 0.6;
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    background-color: #FFD1D1;
}

footer .icon-footer i{
    color: black;
}

footer p{
    color: black;
}

footer p a{
    color: black;
}
#app{
    color: #D14D72;
}